/* Paleta de colores 
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--saffron: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff; 
*/
/* Establezco todo a 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto asegura que el padding no afecte el ancho total de los elementos */
    font-family: 'Open Sans', sans-serif;

}


main {
    flex: 1 0 auto; /* allow it to grow and shrink, but not shrink smaller than its content */
}

/* Index.html */




#bodyIndex{
    background-color: #DCDCDC;
}
.navbar {
    width: 100%;
    height: 70px;
    padding: 0%;
    background-color: #2C3E50;
    display: flex;
    /* letter-spacing: 0.15em; */
    font-size: 15px;
    
}

.navbar-logo {
    height: 65px;
    display: block;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 50px;
}


.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 10px; 
    align-items: center;
}

.nav-item-a{
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none; /* Elimina el subrayado */
    /* No lo vimos en clase pero hace el cuando estas con el mouse arriba de la nav el cursor cambie para que puedas apretar */
    cursor: pointer;
}
/* Termina la nav */
.index-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 25px;
    align-items: flex-start;
}

.index-titulo-series {
    margin-top: 25px;
    margin-left: 5px;
    width: 100%;
}

.index-item {
    text-align: center;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:240px;
}

.index-item img {
    width: 281px;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}

.index-item-title {
    margin-top: 10px;
    color: #DCDCDC;
}

.index-item-date {
    display: block;
    margin-top: 5px;
}

/* Footer */
footer {
    margin-top: 30px;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #2C3E50;
    color: white;
    margin-bottom: 0;
    flex-shrink: 0; /* ensures the footer doesn't shrink */

    
}

.footer-logo {
    height:30px; 
}

/* Media query para dispositivos con ancho máximo de 585px (iPhone 13) */
@media(max-width: 585px) {

    /* Ajustes para la barra de navegación */
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
    }

    .navbar-logo {
        margin: 0;
        margin-bottom: 10px;
    }

    .navbar-list {
        flex-direction: column;
        gap: 5px;
    }

    .nav-item-a {
        padding: 8px 12px;
        font-size: 14px;
    }

    /* Ajustes para los ítems */
    .index-group {
        justify-content: center;
        margin-left: 10px;
    }

    .index-item {
        width: 80%; /* O el ancho que prefieras */
        margin: 10px auto;
        height: 250px;
    }

    .index-item img {
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        /* margin: 0 auto; */
    }


    /* Ajustes para el footer */
    footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: auto;
        padding: 10px 0;
    }

    .footer-logo {
        margin-bottom: 10px;
    }
}

/* Detail movies */
.Detail-Movie-Body{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}
.Detail-detalles-peliculas{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
   
  

}
.Section-Movie{
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 10px;
    margin: 10px;
    align-self: center;

    
    

}

.Detail-item img{
  
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;
    align-items:center;
    align-self:center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.Detail-Movie-Titulo-Icon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}
.Detail-title{
    margin-top: 10px;
    color: #DCDCDC;
    font-size: 25px;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    
    font-family: 'Open Sans', sans-serif;
  
}
.fa-star{
    align-items: flex-end;
    justify-content: flex-end;
    
}
.Detail-item-date{
    margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  
  font-family: 'Open Sans', sans-serif;
}
.Detail-Movie-sinopsis{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-family: 'Open Sans', sans-serif;
}
.Detail-Movie-Duracion-genero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
    bottom: 10px;
    
    font-family: 'Open Sans', sans-serif;
}
.Detail-Movie-Boton{
    background-color:#2C3E50;
    color: white;
    size: 50px;
    background-size: 600px 800px;
    width: 50px;
    height: 50px;
    border-radius: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }



@media(max-width: 420px){
    .navbar{
        width: 100%;
        height: auto;
        padding: 0%;
        background-color: #2C3E50;
        display: flex;
        font-size: 15px;
        margin-left: 0;

    }
    .navbar-logo {
        margin: 0;
        margin-bottom: 0px;
    }

    .navbar-list {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .nav-item-a {
        padding: 8px 12px;
        font-size: 14px;
    }
    
    
   
    .fa-star{
        size: 15;
        
    }
    .Detail-detalles-peliculas{
      
        font-size: 20px;
       }
    .Detail-item-date{
      font-size: 15px;
    }
    .Detail-Movie-sinopsis{
        font-size: 15px;
   
    }
    .Detail-Movie-Duracion-genero{
    
        font-size: 15px;
  
    }
    .Detail-Movie-Boton{
   size: 30px; }


}