/* Paleta de colores
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--saffron: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
*/








/* Establezco todo a 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esto asegura que el padding no afecte el ancho total de los elementos */
    font-family: 'Open Sans', sans-serif;
}




/* ------------------------------Barra de navegacion ------------------------------*/
.navbar {
    width: 100%;
    height: 70px;
    padding: 0%;
    background-color: #2C3E50;
    display: flex;
    font-size: 15px;
}




.navbar-logo {
    height: 65px;
    display: block;
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 30px;
}




.navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}




.nav-item-a{
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}




.search-form-nav{
    background-color: #DCDCDC;  
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100px;
    border-color: #2C3E50;
}
/* ------------------------------Termina la nav ------------------------------*/




/* ------------------------------Empieza index------------------------------*/
#bodyIndex{
    background-color: #DCDCDC;
}




.index-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    align-items: flex-start;
    /* justify-content: space-between; */


}


.index-groupS {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    align-items: flex-start;
    /* justify-content: space-between; */


}


.index-groupS img{
    width: 300px;


}
.index-titulo-series {
    margin-top: 25px;
    margin-left: 5px;
    width: 100%;
}




.index-item {
    text-align: center;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:240px;
    width: 18%;
    margin-left: 1%;
}




.index-item img {
    height: 60%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}




.index-item-title {
    margin-top: 10px;
    color: #DCDCDC;
}




.index-item-date {
    display: block;
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
    color: #2C3E50;
}




.hipervinculo-index{
    text-decoration: none;
}




/* ------------------------------Termina index------------------------------*/




/* ------------------------------Empieza Footer------------------------------*/
footer {
    margin-top: 30px;
    align-items: center;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #2C3E50;
    color: white;
    margin-bottom: 0;
}




.footer-logo {
    height:30px;
}




/* ------------------------------Termina el Footer------------------------------*/








/* ------------------------------Inicia detail movie------------------------------*/




#mainDetailPeliculas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.subrayado{
    text-decoration: none;
    color: black;
}
.Detail-Movie-Body{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




.Detail-detalles-peliculas{
    color: black;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}








.Estrellas{
    color: #2C3E50;
}




.Section-Movie{
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    width: 700px;
    height: 750px;
}




.Section-Serie{
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    width: 800px;
    height: 850px;
}




.Detail-item img{
    width: 800px;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}




.imagenmovie{
    height: 500px;
}




.Detail-Movie-Titulo-Icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}




.Detail-title{
    color: #DCDCDC;
    font-size: 25px;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 80%;
}




.fa-star{
    align-items: flex-end;
    justify-content: flex-end;
   
}
.Detail-item-date{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: bold;
  }




.Detail-Movie-sinopsis{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    margin-right: 10px;
   
}




.Detail-Movie-Boton{
    background-color:#2C3E50;
    color: white;
    size: 50px;
    background-size: 600px 800px;
    width: 50px;
    height: 50px;
    border-radius: 700px;
    display: flex;
    justify-content: center;
    align-items: center;    
    }
/* ------------------------------Termina detail movie------------------------------*/








/* ------------------------------Empieza el estilo de genero------------------------------*/
#bodyGenres{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
}




.genres-sub{
    font-size: 20px;
    width: 100%;
}




.Genres-titulo-principal {
    margin-top: 25px;
    margin-left: 25px;
    width: 100%;
}




.Genresection{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 30px;
    align-items: flex-start;
    width: 100%;
}




.genresList {
    font-size: 15px;
    list-style: none;    
    display: flex;
    flex-wrap: wrap;
}




.genreA{
    color: white;
    text-decoration: none;
}




.genre-div {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:100%;
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: 20px;
}
/* ------------------------------Termina el estilo de genero------------------------------*/




/* ------------------------------Empieza el estilo de favoritos------------------------------*/




#favoriteBody{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    }




.tituFav{
    margin-top: 25px;
    margin-left: 5px;
    width: 100%;
}




.favSection{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    align-items: flex-start;




}




.fa-solid{
    height: 100%;
    width: 100%;
}








.fav-item {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:220px;
}




.fav-item img {
    width: 281px;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}




.iconofav{
    color: #2C3E50;
    align-items: flex-start;
}




/* ------------------------------Termina el estilo de favoritos------------------------------*/
/* ------------------------------Empieza el estilo de detail genero------------------------------*/




#bodyDG{
    background-color: #DCDCDC;  
}




.DGsection{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    align-items: flex-start;
}




.titDG{
    margin-top: 25px;
    margin-left: 5px;
    width: 100%;
}




.detail-genre-div {
    text-align: center;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:480px;
    width: 281px;
    margin-left: 1%;
}
.detail-genre-div img {
    height:400px;
}




.genresList1{
    font-size: 15px;
    list-style: none;    
    display: flex;
    flex-wrap: wrap;
}


.detail-genre-div img {
    width: 281px;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}
/* ------------------------------Termina el estilo de detail genero------------------------------*/
/* -----------------Inicio estilo search-results------------------ */
.search-item {
    text-align: center;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #E67E22;
    height:200px;
    margin-left: 1%;
}




.error{
    display: none;
}




.search-item img {
    width: 281px;
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
}




#search-main{
    background-color: #DCDCDC;  
    display: flex;
    flex-direction: column;
}




/* ADAPTACION CELULAR */
/* ------------------------------Inicia adaptacion celular Home (Index.html) ------------------------------*/




@media(max-width:420px){
    .index-group {
        justify-content: center;
        margin-left: 10px;
    }




    .index-item, search-item {
        width: 80%;
        margin: 10px auto;
        height: 250px;
    }




    .index-item img {
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }




/* ------------------------------Termina adaptacion celular Home (Index.html) ------------------------------*/




/* ------------------------------Inicia adaptacion celular Nav y footer------------------------------*/




/* Ajustes para la barra de navegación */
.navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 0;
}




.navbar-logo {
    margin: 0;
    margin-bottom: 10px;
}




.navbar-list {
    flex-direction: column;
}




.nav-item-a {
    padding: 8px 12px;
    font-size: 14px;
}




footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 0;
}




.footer-logo {
    margin-bottom: 10px;
}
/* ------------------------------Inicia adaptacion celular Detail movie & serie------------------------------*/








    #mainDetailPeliculas {
        margin-top: -80px;
    }




.Estrellas{
    margin-top: -10px;
}




.Section-Serie{
    width: 80%;
    height: 100%;
   
}




.Detail-item img{
    width:100%;
}








.Detail-title{
    font-size: 19px;
}




.Detail-item-date{
    font-size: 15px;
  }




.Detail-Movie-sinopsis{
    font-size: 14px;
}
/* -------------------- */




}
/* ------------------------------Termina adaptacion celular Detail movie & serie------------------------------*/
/* ------------------------------Termina adaptacion celular Nav y footer------------------------------*/











